/* font-family: 'Rubik', sans-serif; */
/* font-family: 'League Spartan', sans-serif; */
:root {
    --blue: #1e90ff;
    --white: whitesmoke;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: "League Spartan", sans-serif;
    font-size: medium;
    background: url(bg/mac-bg.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar {
    overflow: hidden;
    color: var(--white);
    font-weight: 400;
    width: 100%;
    height: 25px;
    display: flex;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}
.navwrapper {
    width: 50%;
    position: inline-block;
    margin-left: 5px;
    margin-top: 1px;
}
.navwrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navwrapper ul li{
    float: left;
}
.navwrapper ul li a{
    display: block;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
.navwrapper ul li a:hover:not(.active){
    color: grey;
}
.active {
    color: grey !important;
}
.infowrapper {
    float: right;
    width: 50%;
    position: inline-block;
    margin-right: 5px;
    margin-top: 1px;
}
.time {
    overflow: hidden;
    display: flex;
    position: relative;
    float: right;
    right: 0px;
}
.time p{
    display: inline;
    margin: 5px;
    padding: 1px;
}
.icons, .icons-wifi, .eth{
    float: right;
    margin-top: 4px;
    margin-right: 13px;
    width: 15px;
    height: 15px;
    fill: var(--white);
}
.icons-wifi {
    margin-top: 3px !important;
    width: 17px !important;
    height: 17px !important;
}
.eth {
    margin-right: 8px !important;
    margin-top: 0px !important;
    width: 24px !important;
    height: 24px !important;
}
/* End of navbar */
.iframe {
    overflow: hidden;
    border: none;
    position: relative;
    height: 285px;
    width: 100%;
}



.dock {
    display: flex;
    position: fixed;
    width: auto;
    max-width: 80vw;
    overflow: hidden;
    height: 70px;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -15%);
    margin: 0 auto;
    /*border: 1px solid black;*/
    border-radius: 20px;
    background: rgba( 0, 0, 0, 0.4 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    -webkit-box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.6);

}

.dock-icons {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.3s;
}
.dock-icons:hover {
    transform: scale(1.2);
}
.line {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin: 10px;
    position: relative;
    height: 50px;
    width: 1px;
    border-radius: 1px; 
    background-color: black;
}



.intro {
    transition: width 0.3s ease, height 0.3s ease, opacity 0.2s ease-out;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    font-family: 'Rubik', sans-serif;
    position: absolute;
    user-select: none;
    width: 50vw;
    height: 50vh;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 100;
}
.introheader {
    overflow-x: hidden;
    left: 0px;
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
    background-color: rgba(0, 0, 0, 0.2);
}
.introheader ul {
    margin-right: 200px !important;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: 100%;
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.introheader ul li {
    display: inline-flex;
    width: auto;
    height: auto;
    margin: 8px;
    border-radius: 5px;
    padding: 4px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}
.introheader ul li:hover {
    background-color: rgba(0, 0, 0, 0.425);
    cursor: pointer;
}
.introheader ul li:nth-child(2) {
    border: 1px solid rgba(0, 0, 0, 0.425);
}
.introheader ul li:first-child {
    cursor: default;
    width: 60px;
    justify-content: space-between;
    position: relative;
    margin-right: 100px;
}
.introheader ul li:first-child:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}


.x {
    -webkit-transition: background-color 0.3s;
    -moz-transition:    background-color 0.3s;
    -ms-transition:     background-color 0.3s;
    -o-transition:      background-color 0.3s;
    transition:         background-color 0.3s;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid rgb(180, 1, 1);
}
.x:hover {
    background-color: rgb(180, 1, 1);
}
.y {
    -webkit-transition: background-color 0.3s;
    -moz-transition:    background-color 0.3s;
    -ms-transition:     background-color 0.3s;
    -o-transition:      background-color 0.3s;
    transition:         background-color 0.3s;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellow;
    border: 1px solid rgb(155, 155, 2);
}
.y:hover {
    background-color: rgb(155, 155, 2);
}
.z {
    -webkit-transition: background-color 0.3s;
    -moz-transition:    background-color 0.3s;
    -ms-transition:     background-color 0.3s;
    -o-transition:      background-color 0.3s;
    transition:         background-color 0.3s;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: wheat;
    border: 1px solid rgb(179, 163, 132);
}
.z:hover {
    background-color:rgb(179, 163, 132);
}









/* Battery stuff */

.content-battery {
    position: relative;
    display: flex;
    float: right;
    margin-right: 10px;
}
.batteryShape {
    position : relative ;
    width : 25px ;
    height : 12px ;
    margin : 4px 0 ;
    border : 2px solid #333 ;
    border-radius : 4px ;
}
.batteryShape::before {
    content : ' ' ;
    position : absolute ;
    top : 32% ;
    right : -4px ;
    transform : translateY ( -32% ) ;
    width : 2px ;
    height : 4px ;
    background : #333 ;
    border-top-right-radius : 2px ;
    border-bottom-right-radius : 2px ;
}
.level {
    position : absolute ;
    top : 0px ;
    Left : 0px ;
    right : 0px ;
    bottom : 0px ;
    background : #333 ;
    border-radius : 1px ;
}
.percentage {
    position : absolute ;
    top : 0 ;
    Left : 0 ;
    height : 100% ;
    width : 50% ;
    background : grey ;
    border-radius: 3px;
}
.percent {
    text-align: center;
    margin-top: 2px !important;
    margin: 1px;
    font-size: 12px;
    color: white;
}

/*.util {
    overflow: hidden;
    display: flex;
    position: absolute;
    top: calc(25px + 15px);
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: #000 dashed 1px;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    background-color: rgba(0, 0, 0, 0.2);
}
.utilfill {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1s;
    background-color: rgb(0, 0, 0);
    -webkit-animation: filler 1s ease-in-out;
    -moz-animation: filler 1s ease-in-out;
    animation: filler 1s ease-in-out;
}
*/
@keyframes donut-chart-fill {
    to { stroke-dasharray: 0 100; }
}
    .svg-item {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
    .donut-ring {
        stroke: rgba(0, 0, 0, 0.247);
    }
    
    .donut-segment {
        animation: donut-chart-fill 1s reverse ease-in;
        transform-origin: center;
        stroke: #000000;
        transition: 1.5s;
    }
    
    .donut-text {
        fill: #000000;
    }
    
    .donut-label {
        font-size: 0.28em;
        line-height: 1;
        fill: #000;
        transform: translateY(0.25em);    
    }
    
    .donut-percent {
        font-size: 0.45em;
        fill: white;
        line-height: 1;
        transform: translateY(0.45em);
    }
.cpuframe {
    position: absolute;
    top: 35px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
.ramframe, .hot {
    position: absolute;
    top: 130px;
    right: 15px;
    width: 35px;
    height: 80px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    overflow: hidden;
}
.ramframefiller {
    transition: 1.5s;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.822);
}
.ramtext, .ramtext2 {
    font-size: 15px;
    padding-top: 10px !important;
    padding: 0px;
    margin: 0px;
    color: white;
    mix-blend-mode: difference; 
    padding-top: 0px;
    text-align: center;
}
.ramtext2 {
    padding-top: 0px !important;
}
.hot {
    top: 130px;
    right: 60px;
}
.temp {
    position: absolute;
    top: 8px;
    left: -8px;
}
.tempfill {
    position: absolute;
    top: 14px;
    left: 15px;
    height: 35px;
    width: 3px;
    border-radius: 3px;
    border: solid 1px transparent;
}
.tempfillpercent {
    transition: 1s;
    position: absolute;
    bottom: 5px;
    left: -1px;
    height: 25%;
    width: 100%;
    border-radius: 5px;
    border: solid black 1px;
    background-color: black;
}
.temptext {
    position: absolute;
    text-align: center;
    bottom: 5px;
    margin: 0px;
    padding: 0px;
    padding-left: 5px !important;
    padding-right: 4px !important;
    font-size: 15px;
    color: white;
}