/* font-family: 'Rubik', sans-serif; */
/* font-family: 'League Spartan', sans-serif; */
:root {
    --blue: #1e90ff;
    --white: whitesmoke;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: "League Spartan", sans-serif;
    font-size: medium;
    background: url(bg/mac-bg.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar {
    overflow: hidden;
    color: var(--white);
    font-weight: 400;
    width: 100%;
    height: 25px;
    display: flex;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}
.navwrapper {
    width: 50%;
    position: inline-block;
    margin-left: 5px;
    margin-top: 1px;
}
.navwrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navwrapper ul li{
    float: left;
}
.navwrapper ul li a{
    display: block;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
.navwrapper ul li a:hover:not(.active){
    color: grey;
}
.active {
    color: grey !important;
}
.infowrapper {
    float: right;
    width: 50%;
    position: inline-block;
    margin-right: 5px;
    margin-top: 1px;
}
.time {
    overflow: hidden;
    display: flex;
    position: relative;
    float: right;
    right: 0px;
}
.time p{
    display: inline;
    margin: 5px;
    padding: 1px;
}
.icons, .icons-wifi{
    float: right;
    margin-top: 4px;
    margin-right: 13px;
    width: 15px;
    height: 15px;
    fill: var(--white);
}
.icons-wifi {
    margin-top: 3px !important;
    width: 17px !important;
    height: 17px !important;
}
/* End of navbar */

.dock {
    display: flex;
    position: fixed;
    width: auto;
    max-width: 80vw;
    overflow: hidden;
    height: 70px;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -15%);
    margin: 0 auto;
    /*border: 1px solid black;*/
    border-radius: 20px;
    background: rgba( 0, 0, 0, 0.4 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    -webkit-box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.6);

}

.dock-icons {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.3s;
}
.dock-icons:hover {
    transform: scale(1.2);
}
.line {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin: 10px;
    position: relative;
    height: 50px;
    width: 1px;
    border-radius: 1px; 
    background-color: black;
}



.intro {
    font-family: 'Rubik', sans-serif;
    display: flex;
    position: absolute;
    user-select: none;
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 15px;
}
.introheader {
    left: 0px;
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}
.introheader ul {
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: fit-content;
    list-style: none;
    display: flex;
    width: auto;
    position: relative;
    justify-content: space-between;
}
.introheader ul li {
    display: inline-flex;
    width: auto;
    height: auto;
    margin: 8px;
    border-radius: 5px;
    padding: 4px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}
.introheader ul li:hover {
    background-color: rgba(0, 0, 0, 0.425);
    cursor: pointer;
}
.introheader ul li:nth-child(2) {
    border: 1px solid rgba(0, 0, 0, 0.425);
}
.introheader ul li:first-child {
    width: 60px;
    justify-content: space-between;
    position: relative;
    margin-right: 100px;
}
.introheader ul li:first-child:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}


.x {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid rgb(180, 1, 1);
}
.y {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellow;
    border: 1px solid rgb(155, 155, 2);
}
.z {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: wheat;
    border: 1px solid rgb(179, 163, 132);
}


























/* Battery stuff */

.content-battery {
    position: relative;
    display: flex;
    float: right;
    margin-right: 10px;
}
.batteryShape {
    position : relative ;
    width : 25px ;
    height : 12px ;
    margin : 4px 0 ;
    border : 2px solid #333 ;
    border-radius : 4px ;
}
.batteryShape::before {
    content : ' ' ;
    position : absolute ;
    top : 32% ;
    right : -4px ;
    transform : translateY ( -32% ) ;
    width : 2px ;
    height : 4px ;
    background : #333 ;
    border-top-right-radius : 2px ;
    border-bottom-right-radius : 2px ;
}
.level {
    position : absolute ;
    top : 0px ;
    Left : 0px ;
    right : 0px ;
    bottom : 0px ;
    background : #333 ;
    border-radius : 1px ;
}
.percentage {
    position : absolute ;
    top : 0 ;
    Left : 0 ;
    height : 100% ;
    width : 50% ;
    background : grey ;
    border-radius: 3px;
}
.percent {
    text-align: center;
    margin-top: 2px !important;
    margin: 1px;
    font-size: 12px;
    color: white;
}